<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/PIBD_PROJECT</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">pibd</property>
        <property name="hibernate.connection.password">PIBD_Project_420$</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping resource="Judecator.hbm.xml"/>
        <mapping resource="Proces.hbm.xml"/>
        <mapping resource="Programare.hbm.xml"/>
    </session-factory>
</hibernate-configuration>